
/*
Reset Stylesheet
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}



a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/*font*/
@font-face {
  font-family: 'billabongregular';
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot");
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix") format('embedded-opentype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff") format('woff'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf") format('truetype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

/*scroll bar */
/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars.
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}



/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
  position: absolute;
	left: 50%;
	transform: translateX(-50%);

}
	/* flip the pane when hovered */
	.flip-container.active .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 500px;
	min-height: 600px;
	border-radius: 20px;

}

/* flip speed goes here */
.flipper {
	transition: 0.35s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	padding: 30px;
	box-shadow: 0px 0px 20px grey;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.wrap {
	height: 100vh;
	background: rgb(254,192,193); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(254,192,193,1) 0%, rgba(154,112,201,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(254,192,193,1) 0%,rgba(154,112,201,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(254,192,193,1) 0%,rgba(154,112,201,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec0c1', endColorstr='#9a70c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.title {
	margin: 0 auto;
	text-align: center;
	font-family: 'Kalam', cursive;
	font-size: 70px;
	padding: 40px;
	color: #66D7E6;
	text-shadow: 3px 2px white;
}

.add-button {
  position: absolute;
  top: 90%;
  left: 82.5%;
}
.drop-down {
  width: 100%;
}
.footer {
  margin-top: 20px;
  display: block;
  height: 60px;
}
.task-row-wrapper {
  overflow: auto;
  height: 500px;
  padding: 0 10px;
}
.header {
  text-align: center;
}
.header > h2 {
  font-family: 'billabongregular';
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
}
.task-row{
  height: 50px;
  width: 100%;
  display: block;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0 0 7px rgba(0,0,0,0.4);
  font-size: 18px;
  font-family: cursive;
  line-height: 45px;
}
.task-info {
  padding-left: 20px;
}
.title-row {
  font-weight: 600;
}
.category-row-home {
  color: #66D7E6;
}
.category-row-work {
color: #ff4081;
}
.date-row {
  color: blue;
  font-size: 16px;
  font-family: monospace;
}
